# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CI.Demo.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Laurentiu\RiderProjects\CI.Demo\.idea\.idea.CI.Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
